@use "../../../presets" as *;
@use "../../../mixins" as *;

.header {
  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include md-min {
      background-image: url(../img/splash.svg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 85vh;
    }
  }

  &__symbol {
    transform: translateY(20%);

    @include md {
      transform: translateY(5%);
    }
  }

  &__title {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 100%;
    max-width: 620px;
    margin: 0;
    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;

    @include md {
      top: 31%;
    }
  }
}
