@use "../../../presets" as *;
@use "../../../mixins" as *;

.header {
  background: $gradient-soft;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 70%;
    z-index: 1;
    background: linear-gradient(180deg, #32326400 16.67%, #323264 100%);
  }

  &__button {
    position: absolute;
    left: 50%;
    cursor: pointer;
    z-index: 2;

    @include md-min {
    }
  }
}