@use "../../../presets" as *;
@use "../../../mixins" as *;

.header {
  background: $gradient-soft;
  position: relative;

  &::before {
    @include md-min {
      content: "";
      background-image: url(../img/splash.svg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 85vh;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 70%;
    z-index: 1;
    background: linear-gradient(180deg, #32326400 16.67%, #323264 100%);
  }

  &__button {
    position: absolute;
    left: 50%;
    cursor: pointer;

    @include md-min {
    }
  }
}