@use "../../../presets" as *;
@use "../../../mixins" as *;

.experience {
  background-color: #323264;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 75px;

  gap: 80px;
  @include lg {
    align-items: flex-start;
    flex-direction: column;

    gap: 8px;
  }

  &__titles {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: $gap;

    &:after {
      @include lg-min {
        position: absolute;
        top: 0;
        right: -$gap-xl;

        width: 4px;
        height: 100%;

        content: "";

        background-color: $color-separator;
      }
    }
  }

  &__title {
    max-width: 392px;

    cursor: pointer;
    text-align: right;

    color: $color-text;

    font-size: 42px;
    line-height: 50px;

    @include lg {
      display: none;

      letter-spacing: 1px;
      text-transform: uppercase;

      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      background: $gradient-redtext-reversed;
      -webkit-background-clip: text;
              background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }

  &__active {
    position: relative;

    background: $gradient-redtext-reversed;
    -webkit-background-clip: text;
            background-clip: text;

    @include lg {
      display: block;
    }
    -webkit-text-fill-color: transparent;

    &:after {
      @include lg-min {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -$gap-xl;

        width: 4px;
        height: 100%;

        content: "";

        background-color: $color-accent;
      }
    }
  }

  &__invisible {
    @include lg {
      display: none;
    }
  }

  &__descriptions {
    color: $color-white;

    @include lg-min {
      max-width: 586px;
    }
  }

  &__note {
    display: none;
  }

  &__name {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;

    @include lg {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__text {
    padding-top: $gap;

    font-size: 21px;
    line-height: $gap-lg;

    @include lg {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__indicators {
    display: flex;

    margin-right: auto;
    margin-left: auto;
    padding-top: $gap-sm;

    gap: $gap-md;
    @include lg-min {
      display: none;
    }
  }
}
.note--active {
  display: block;
}

