@use "../../../presets" as *;
@use "../../../mixins" as *;

.publications {
  position: relative;

  padding-top: 35px;

  background-color: $color-bg;

  @include md {
    padding-top: $gap-md;
  }

  &:after {
    @include md-min {
      position: absolute;
      top: 60%;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      background: linear-gradient(180deg, #f5f5fa00 0%, #f5f5fa 86.5%);
    }
  }

  &__heading {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    &:after {
      position: relative;
      top: 2px;

      margin-left: 5px;
      padding-right: $gap-sm;

      content: "";

      background-image: url(../img/arrow-right-blue.svg);
      background-repeat: no-repeat;
    }
  }

  &__title {
    padding-top: 2px;

    background: $gradient-redtext;
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @include md {
      font-size: 32px;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__content {
    padding-top: $gap-xl;

    column-count: auto;
    column-gap: $gap-xl;
    column-width: 413px;
    @include md {
      padding-top: $gap;
      padding-bottom: 110px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    margin-bottom: $gap-xl;

    border-radius: 8px;
    background-color: $color-white;

    @include md {
      margin-bottom: $gap;

      &:nth-child(6) {
        display: none;
      }

      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }
  }

  &__name {
    padding: $gap $gap 0 $gap;

    color: $color-active-regular;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }

  &__date {
    padding: $gap-sm $gap 18px $gap;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-text;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  &__description {
    margin-right: $gap;
    margin-left: $gap;
    padding: 18px 0 $gap-lg 0;

    border-top: 4px solid $color-separator;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    @include xl {
      display: none;
    }
  }

  &__image {
    width: 100%;

    border-radius: 8px 8px 0 0;
  }

  &__button {
    position: absolute;
    z-index: 1;
    right: 50%;
    bottom: $gap-xl;
    left: 50%;

    min-width: 250px;
    min-height: 50px;

    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-50%);
    text-align: center;

    color: $color-white;
    border: none;
    border-radius: 12px;
    background: $color-active-regular;
    box-shadow: 0 0 $gap #24a3ff80;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    &:hover {
      background: $color-active-hover;
    }
  }
}
