@use "../../../presets" as *;
@use "../../../mixins" as *;

.services {
  position: relative;

  padding-top: 75px;

  background: $gradient-supersoft;

  @include md {
    padding-top: $gap-xl;
  }

  &:before {
    position: absolute;
    top: 100%;
    right: $gap-xl;
    left: $gap-xl;

    height: $gap;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: #e7e7f2;
  }

  &:after {
    position: absolute;
    right: $gap;
    left: $gap;

    height: $gap-sm;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: #cacadb;
  }

  &__heading {
    letter-spacing: 1px;
    text-transform: uppercase;

    opacity: 0.5;
    color: $color-white;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    &:after {
      position: absolute;
      top: 83px;
      bottom: 0;

      max-height: 13px;
      margin-left: 5px;
      padding-right: $gap-sm;

      content: "";

      background-image: url(../img/arrow-right-gray.svg);
      background-repeat: no-repeat;

      @include md {
        top: 48px;
      }
    }
  }

  &__title {
    padding-bottom: 67px;

    background: $gradient-redtext;
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 42px;
    line-height: 50px;

    @include md {
      padding-bottom: $gap;

      font-size: 32px;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__grid {
    display: grid;

    padding-bottom: 80px;

    gap: $gap-xl;
    @include xl-min {
      grid-template-columns: repeat(3,1fr);
    }
    @include xl-md {
      grid-template-columns: repeat(2,1fr);
    }
    @include md {
      padding-bottom: $gap;
    }
  }

  &__item {
    display: grid;
    flex-direction: column;

    @include md {
      align-items: center;

      grid-template-areas: "img nam" "des des";
      grid-template-columns: auto 1fr;
    }
  }

  &__image {
    @include md {
      grid-area: img;
    }
  }

  &__icon {
    @include md {
      max-width: 64px;
    }
  }

  &__name {
    padding-top: 14px;

    color: $color-active-regular;

    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    @include md {
      padding-top: 0;
      padding-left: $gap-sm;

      font-size: 18px;
      line-height: 21px;

      grid-area: nam;
    }
  }

  &__description {
    padding-top: 16px;

    color: $color-white;

    font-size: 18px;
    line-height: 26px;

    @include md {
      padding-top: 6px;

      font-size: 16px;
      line-height: 22px;

      grid-area: des;
    }
  }
}
