@use "../../../presets" as *;
@use "../../../mixins" as *;

.team {
  padding-top: 60px;
  padding-bottom: $gap-xl;

  @include lg {
    padding-top: $gap-xl;
  }

  &__image {
    max-height: 500px;

    @include lg {
      display: none;
    }
  }

  &__photo {
    border-radius: 12px 0 0 12px;
  }

  &__content {
    padding-top: $gap-lg;
    padding-right: $gap;

    @include lg {
      padding: $gap-md $gap $gap $gap;
    }
  }

  &__title {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    &:after {
      position: relative;
      top: 2px;

      margin-left: 5px;
      padding-right: $gap-sm;

      content: "";

      background-image: url(../img/arrow-right-blue.svg);
      background-repeat: no-repeat;
    }
  }

  &__quote {
    max-width: 830px;
    padding-top: 5px;

    background: $gradient-redtext;
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @include md {
      font-size: 32px;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__wrap {
    @include lg {
      display: flex;
      align-items: center;

      padding-top: $gap-sm;

      gap: $gap-sm;
    }
  }

  &__image-mobile {
    @include lg-min {
      display: none;
    }
  }

  &__photo-mobile {
    border-radius: 120px;
  }

  &__name {
    color: $color-text;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    @include lg-min {
      padding-top: $gap;
    }
  }

  &__job {
    padding-top: 5px;

    color: $color-text;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  &__indicators {
    display: flex;
    justify-content: center;

    padding-top: $gap;

    gap: $gap-md;
    @include md {
      padding-top: $gap-md;
    }
  }
}
.container--team {
  display: flex;

  border-radius: 12px;
  background-color: $color-bg;

  gap: $gap-xl;
}
