@use "../../../presets" as *;
@use "../../../mixins" as *;

.team {
  padding-top: 60px;
  padding-bottom: $gap-xl;

  @include lg {
  padding-top: $gap-xl;
  }

  &__image {
    max-height: 500px;

    @include lg {
      display: none;
    }
  }

  &__photo {
    border-radius: 12px 0 0 12px;
  }

  &__content {
    padding-top: $gap-lg;
    padding-right: $gap;

    @include lg {
      padding: 25px $gap $gap $gap;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-active-regular;

    &:after {
      position: relative;
      top: 2px;
      padding-right: $gap-sm;
      margin-left: 5px;
      content: "";
      background-image: url(../img/arrow-right-blue.svg);
      background-repeat: no-repeat;
    }
  }

  &__quote {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    background: $gradient-redtext;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 830px;
    padding-top: 5px;

    @include md {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__wrap {
    @include lg {
      display: flex;
      align-items: center;
      gap: $gap-sm;
      padding-top: $gap-sm;
    }
  }

  &__image-mobile {
    @include lg-min {
      display: none;
    }
  }

  &__photo-mobile {
    border-radius: 120px;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color-text;

    @include lg-min {
      padding-top: $gap;
    }
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    padding-top: 5px;
  }

  &__indicators {
    display: flex;
    gap: $gap-md;
    justify-content: center;
    padding-top: $gap;
  }
}
.container--team {
  background-color: $color-bg;
  border-radius: 12px;
  display: flex;
  gap: $gap-xl;
}
