@use "../../../presets" as *;
@use "../../../mixins" as *;

.footer {
  background-color: $color-bg;

  &__info {
    font-style: normal;
  }

  &__top {
    display: flex;
    align-items: center;

    gap: 48px;
    @include md {
      flex-direction: column;

      gap: $gap-sm;
    }
  }

  &__address {
    color: $color-main;

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }

  &__link {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  &__bottom {
    display: flex;
    align-items: center;

    padding-top: $gap;

    @include md {
      flex-direction: column;
    }
  }

  &__logo {
    transition: 0.5s;

    &:hover {
      cursor: pointer;

      fill: $color-accent;
    }
  }

  &__phone {
    color: $color-main-alt;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    @include md-min {
      padding-left: $gap;
    }
    @include md {
      padding-top: $gap-md;
    }
  }

  &__mail {
    color: $color-active-regular;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    @include md-min {
      padding-left: $gap-lg;
    }
    @include md {
      padding-top: $gap;
    }
  }

  &__copyright {
    @include md {
      padding-top: $gap;
    }
  }

  &__copyright-text {
    text-align: right;

    color: $color-text;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    @include md {
      text-align: center;
    }
  }
}
.container--footer {
  display: flex;
  justify-content: space-between;

  padding-top: $gap-lg;
  padding-bottom: $gap-xl;

  border-top: 4px solid $color-separator;

  @include md {
    flex-direction: column;

    padding-top: $gap;
    padding-bottom: 115px;
  }
}
