@use "../../../presets" as *;
@use "../../../mixins" as *;

.cases {
  &--alt {
    padding-top: 60px;

    @include md {
      padding-top: $gap-xl;
    }
  }
}

.services {
  &--alt {
    padding-top: 50px;
  }

  &__heading {
    &:after {
      top: 58px;
    }
  }
}