$color-black: #000000;
$color-white: #ffffff;
$color-main: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;
$color-accent: #f0145a;
$color-active-regular: #24a3ff;
$color-active-hover: #0084ff;
$color-active-active: #006ccf;
$color-bg: #f5f5fa;
$color-bg-alt: #ededf7;
$color-text: #b3b3ba;
$color-separator: #e6e6f0;
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
$gradient-supersoft: linear-gradient(210.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$gradient-red: linear-gradient(121.42deg, #f0145a 30.65%, #693264 107.33%);
$gradient-redtext: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$gradient-redtext-reversed: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
